<ion-view view-title="Add a Beacon">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Description">
      </label>
      <label class="item item-input">
        <textarea placeholder="Serial Code"></textarea>
      </label>
      <button class="button button-block button-positive">
        Add Device
      </button>
    </div>
  </ion-content>
</ion-view>
