<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Device A</div>
      <div class="item item-body">
        <div>
          Temperature is <b>35 C</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Device B</div>
      <div class="item item-body">
        <div>
          Temperature is <b>21 C</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Device C</div>
      <div class="item item-body">
        <div>
          Temperature is <b>27 C</b>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
